.form-container {
  width: 600px;
  height: 650px;
  background-color: white;
  box-shadow: var(--box-shadow);
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  z-index: 3;
  display: flex;
}
.login {
  width: 100%;
}
.bg-circle {
  left: -100px;
  top: -100px;
}

input::placeholder {
  color: aliceblue;
}
