* {
  box-sizing: border-box;
  font-family: var(--ff);
}
body {
  overflow: hidden;
  height: 100vh;
}
.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-container {
  position: relative;
}

.bg-circle {
  height: 1000px;
  width: 1000px;
  border-radius: 50%;
  background-color: var(--purple_white);
  position: fixed;
  left: -200px;
  top: -100px;
}

.form-container {
  width: 1000px;
  height: 600px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: var(--box-shadow);
}
.login {
  padding: 4rem;
}

.login h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

input {
  border: none;
  border-bottom: 1px solid var(--gray);
  width: 100%;
  margin: 0.85rem 0;
  height: 3rem;
  transition: all ease-in-out 0.2s;
}

input::placeholder {
  color: var(--gray);
  font-size: 1.2rem;
  font-weight: 300;
}
input:focus {
  border-bottom-color: var(--dark-gray);
}

input[type="submit"] {
  cursor: pointer;
  background-color: var(--purple);
  color: white;
  height: 3.3rem;
  font-weight: 500;
}
input[type="submit"]:hover {
  background-color: var(--purple-dark);
}
.or {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5rem;
}
.or div {
  width: 60px;
  height: 0.3px;
  background-color: var(--gray);
}
.or span {
  margin: 0 1rem;
  font-size: 14px;
  font-weight: 200;
  color: var(--gray);
}

.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
img {
  height: 300px;
  width: auto;
  position: relative;
  z-index: 10;
}
.img-circle {
  position: absolute;
  background-color: #2727252c;
  bottom: 155px;
  width: 250px;
  height: 50px;
  border-radius: 50%;
  z-index: 2;
}
i {
  color: white;
  font-size: 1rem;
}
.footer-circle-container {
  margin-top: 2rem;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.footer-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.5rem;
  position: relative;
  transition: all ease-in-out 0.2s;
}
.footer-circle-hover {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.712);
  color: white;
  border-radius: 1rem;
  padding: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  font-size: 0.7rem;
  font-weight: 300;
  top: -40px;
  opacity: 0;
  transition: all ease-in-out 0.2s;
}
.footer-circle:hover {
  background-color: var(--dark-gray);
}
.footer-circle:hover .footer-circle-hover {
  opacity: 1;
}

.last-child {
  width: 120px;
}
