:root {
  --purple: #706fd3;
  --purple_white: #716fd367;
  --purple-dark: #474787;
  --yellow: #ffda79;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --gray: #ece7db;
  --ff: "Montserrat", sans-serif;
  --dark-gray: #84817a;
}
