<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <link rel="stylesheet" href="../css/flex.css" />
    <title>Pet Care | <%= pageTitle %></title>
  </head>
  <body>
    <h1><%= pageTitle %></h1>
    <span><%=errorMessage %></span>
    <form action="" method="post">
      <div>
        <label for="input_password"
          ><input
            type="password"
            id="input_password"
            required
            placeholder="Old Password"
            name="oldPassword"
        /></label>
      </div>
      <div>
        <label for="input_password"
          ><input
            type="password"
            id="input_password"
            required
            placeholder="New Password"
            name="newPassword"
        /></label>
      </div>
      <div>
        <label for="input_password"
          ><input
            type="password"
            id="input_password"
            required
            placeholder="New Password Confirm"
            name="newPassword2"
        /></label>
      </div>
      <input type="submit" value="Update Profile" />
      <hr />
      <span>Go </span>
      <a href="/">Home &rarr;</a><br />
    </form>
    <footer>&copy; 2023 Petcare</footer>
  </body>
</html>
