<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <link rel="stylesheet" href="../css/flex.css" />
    <title>Pet Care | <%= pageTitle %></title>
  </head>
  <body>
    <h1><%= pageTitle %></h1>
    <span><%=errorMessage %></span>
    <form action="" method="post" enctype="multipart/form-data">
      <div>
        <label for="avatar">Avatar</label>
        <input
          type="file"
          id="avatar"
          name="avatar"
          accept="image/*"
          required
        />
      </div>
      <div>
        <label for="input_name">name</label>
        <input
          name="newName"
          type="text"
          placeholder="name"
          required
          value="<%=loggedInUser.name %>"
        />
      </div>
      <input type="submit" value="Update Profile" />
      <hr />
      <span>Go </span>
      <a href="/">Home &rarr;</a><br />
      <a href="changePassword"><span>Change Password &rarr;</span></a>
    </form>
    <footer>&copy; 2023 Petcare</footer>
  </body>
</html>
