<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/login.css" />
    <title>Pet Care | <%= pageTitle %></title>
  </head>
  <body>
    <div class="container">
      <div class="bg-container">
        <div class="bg-circle"></div>
      </div>

      <div class="form-container">
        <div class="img-container">
          <a href="/"
            ><div>
              <img src="../image/Brazuca - Cat 2.png" alt="" /></div
          ></a>
          <div class="img-circle"></div>
        </div>
        <div class="login">
          <h1>LOGIN</h1>
          <span class="errorMessage"><%= errorMessage %></span>
          <form method="post">
            <div>
              <input
                type="text"
                id="input_email"
                placeholder="email"
                name="email"
              />
            </div>
            <div>
              <input
                type="password"
                id="input_password"
                placeholder="password"
                name="password"
              />
            </div>
            <input type="submit" value="LOG IN" />
          </form>
          <footer>&copy; 2023 Petcare</footer>
          <div class="or">
            <div></div>
            <span>OR</span>
            <div></div>
          </div>
          <div class="footer-circle-container">
            <a href="/">
              <div class="footer-circle">
                <div class="footer-circle-hover">
                  <span>HOME</span>
                </div>
                <i class="fa-solid fa-house"></i>
              </div>
            </a>
            <a href="join">
              <div class="footer-circle">
                <div class="footer-circle-hover">
                  <span>SIGN UP</span>
                </div>
                <i class="fa-solid fa-right-to-bracket"></i>
              </div>
            </a>
            <a href="#">
              <div class="footer-circle">
                <div class="footer-circle-hover last-child">
                  <span>FIND PASSWORD</span>
                </div>
                <i class="fa-solid fa-lock"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/c47a47dbc9.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
