<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/root.css" />
    <link rel="stylesheet" href="../css/pet/view.css" />
    <link rel="stylesheet" href="../css/profile.css" />
    <title><%= siteName%> | Profile</title>
  </head>
  <body>
    <div class="container">
      <header class="header-container">
        <nav>
          <ul class="header-ul">
            <li><a href="/user/logout">LOG OUT</a></li>
            <li><a href="/">PET CARE</a></li>
            <li><a href="/user/profile">PROFILE</a></li>
          </ul>
        </nav>
        <div class="home-flex-container">
          <div class="home-container">
            <li><a href="/pet">Pet</a></li>
            <li><a href="/family/newFamily">Family</a></li>
            <li><a href="/iot">Iot</a></li>
          </div>
        </div>
      </header>
      <div class="bg-container">
        <div class="bg-circle"></div>
        <div class="bg-circle2"></div>
      </div>
      <main class="flex-container">
        <div class="img-container">
          <p><%=errorMessage %></p>
          <img class="image-thumbnail" src="/<%= avatarUrl %> " alt="" />
        </div>
        <h1><%= loggedInUser.name %> Profile</h1>
        <a href="/user/edit">
          <span>· edit profile ·</span>
        </a>
      </main>
      <footer>&copy; 2023 Petcare</footer>
    </div>
  </body>
</html>
