<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css" />
    <title><%= siteName%> | Profile</title>
    <style>
      img {
        height: 100px;
        width: 100px;
      }
    </style>
  </head>
  <body>
    <header>
      <h1><%= loggedInUser.name %> 의 Profile</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/user/logout">Log out</a></li>
          <li><a href="/pet">Pet</a></li>
          <li><a href="/iot">Iot</a></li>
          <li><a href="/user/profile">Profile</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <div>
        <p><%=errorMessage %></p>
        <img src="/<%= avatarUrl %> " alt="" />
      </div>
      <a href="/user/edit">
        <span>edit profile &rarr;</span>
      </a>
    </main>
  </body>
</html>
